/* body, html {
  height: 100%;
  background-image: url(https://images.pexels.com/photos/6120207/pexels-photo-6120207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: cover;
  object-fit: cover;
} */
body {
  height: 100%;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/7054399/pexels-photo-7054399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.calcbtn {
  background-color: lightgrey;
  width: 10%;
  height: 50px;
  margin: 0.5rem;
  font-size: 40px;
  /* font-weight: bold; */
  border-radius: 2rem;
  font-family: "Courier New", Courier, monospace;
}
#return {
  background-color: lightgrey;
  width: 10%;
  height: 50px;
  margin: 0.5rem;
  font-size: 40px;
  /* font-weight: bold; */
  border-radius: 2rem;
  font-family: "Courier New", Courier, monospace;
}

#input {
  /* border: thick solid black; */
  margin-top: 2rem;
  margin-right: 2rem;
  width: 97%;
  height: 50px;
  font-size: 30px;
  margin-left: 0.1rem;
  font-family: "Courier New", Courier, monospace;

  /* position: relative; */
}
#btns {
  margin-top: 2rem;
  margin-left: 3rem;
  width: 100%;
  display: inline-block;
}

#calculator {
  /* border: thick solid black; */
  border-radius: 2rem;
  width: 560px;
  height: 620px;
  font-family: "Courier New", Courier, monospace;
  float: left;

  /* margin-top: 3.9rem; */
  /* margin-bottom: 10rem; */
  /* margin-left: 40rem;   */
  /* display: inline-block; */
  /* position: relative; */
  padding: 1.5%;
}
.row {
  width: 700px;
  margin-left: 2.5rem;
  margin-top: 1rem;
  display: inline-block;
}
.gotobtn {
  /* margin-left: 3.5rem; */
  margin-top: 1rem;
  width: 100px;
  height: 40px;
  font-weight: bold;
  /* margin: 2rem; */
  border-radius: 2rem;
  background-color: lightgrey;
  font-family: "Courier New", Courier, monospace;

  /* display: inline-block; */
  /* position: relative; */
}
#currencyconv {
  margin-top: 3rem;
  /* border: thick solid #0000ff; */
  width: 500px;
  height: 100px;
  font-family: "Courier New", Courier, monospace;

  /* display: none; */
}
/* body {
  background-image: url(https://images.pexels.com/photos/6120207/pexels-photo-6120207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: cover;
  object-fit: cover;
  /* object-fit: cover; */

.convert {
  background-color: lightgrey;
  border-radius: 1rem;
  float: right;
  font-family: "Courier New", Courier, monospace;
  height: 1.8rem;
  margin-top: 2px;
}
#convert {
  background-color: lightgrey;
  border-radius: 1rem;
  float: right;
  font-family: "Courier New", Courier, monospace;
  height: 1.8rem;
  margin-top: 2px;
}
#innercurrencyitem {
  margin-top: 1.7rem;
  font-family: "Courier New", Courier, monospace;

  /* margin: 1rem; */
}
#currencytitle {
  margin-left: 1rem;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

#temperaturetitle {
  margin-left: 1rem;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
#temperaturconv {
  margin-top: 3rem;
  /* border: thick solid #0000ff; */
  width: 500px;
  height: 100px;
  font-family: "Courier New", Courier, monospace;

  /* display: none; */
}
#innertemperatureitem {
  margin-top: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

.innerdiv {
  float: left;
  font-family: "Courier New", Courier, monospace;
}
#clear {
  background-color: lightgrey;
  width: 10%;
  height: 50px;
  margin: 0.5rem;
  font-size: 40px;
  /* font-weight: bold; */
  border-radius: 2rem;
  font-family: "Courier New", Courier, monospace;
}
#temperature {
  float: right;
  margin-right: 2rem;
  font-family: "Courier New", Courier, monospace;
}
#currency {
  /* float: left; */
  margin-left: 2rem;
}

#calc {
  margin-left: 5rem;
}
#temperatureselector {
  margin-left: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.inputs {
  border-radius: 2rem;
  margin-left: 3rem;
  font-family: "Courier New", Courier, monospace;
  height: 1.5rem;
}
.selectors {
  border-radius: 2rem;
  font-family: "Courier New", Courier, monospace;
  height: 35px;
}

#myprojectname {
  margin-left: 05rem;
  /* margin-top: 10rem; */
  font-size: 30px;
  margin-top: 5rem;
  font-family: "Courier New", Courier, monospace;
}

#myimg {
  width: 100%;
  height: 100%;
}

/* #currencyinput {
  float: left;
}
#temperatureinput {
  float: left;
} */
